In [23]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

q1_file = "Bikeshare Ridership (2017 Q1).csv"
q2_file = "Bikeshare Ridership (2017 Q2).csv"
q3_file = "Bikeshare Ridership (2017 Q3).csv"
q4_file = "Bikeshare Ridership (2017 Q4).csv"

q1_df = pd.read_csv(q1_file)
q2_df = pd.read_csv(q2_file)
q3_df = pd.read_csv(q3_file)
q4_df = pd.read_csv(q4_file)

total_2017_df = pd.concat([q1_df, q2_df, q3_df, q4_df], ignore_index = True, sort=False)
total_2017_df.head()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type
0,712382,1/1/2017 0:00,1/1/2017 0:03,223,7051.0,Wellesley St E / Yonge St Green P,7089.0,Church St / Wood St,Member
1,712383,1/1/2017 0:00,1/1/2017 0:05,279,7143.0,Kendal Ave / Bernard Ave,7154.0,Bathurst Subway Station,Member
2,712384,1/1/2017 0:05,1/1/2017 0:29,1394,7113.0,Parliament St / Aberdeen Ave,7199.0,College St W / Markham St,Member
3,712385,1/1/2017 0:07,1/1/2017 0:21,826,7077.0,College Park South,7010.0,King St W / Spadina Ave,Member
4,712386,1/1/2017 0:08,1/1/2017 0:12,279,7079.0,McGill St / Church St,7047.0,University Ave / Gerrard St W,Member

In [24]:
#convert the trip start date time to a date
total_2017_df["trip_date"] = [time.date() for time in total_2017_df["trip_start_time"].astype('datetime64[ns]')]


total_2017_gr = total_2017_df.groupby(["trip_date", "user_type"])

trip_summary = pd.DataFrame({"total_trips": total_2017_gr["trip_id"].count(),
                    "total_trip_duration_hours":total_2017_gr["trip_duration_seconds"].sum()/60/60,
                    "average_trip_duration_minutes": total_2017_gr["trip_duration_seconds"].mean()/60})

                      total_trips  total_trip_duration_hours  \
trip_date  user_type
2017-01-01 Casual              77                  41.572778
           Member             410                  72.905278
2017-01-02 Casual              21                  14.164444
           Member            1611                 286.878611
2017-01-03 Casual              53                  19.918611
           Member            1960                 338.742500
2017-01-04 Casual             307                 160.058889
           Member            1135                 200.939722
2017-01-05 Casual              62                  19.654167
           Member            1349                 246.128611
2017-01-06 Casual             801                 346.983056
           Member            4300                 826.028611
2017-01-13 Casual              35                   7.150000
           Member            1712                 290.957500
2017-01-14 Casual              55                  18.343889
           Member             783                 121.876667
2017-01-15 Casual              62                  27.357778
           Member             679                 112.974167
2017-01-16 Casual              42                  25.672500
           Member            1699                 296.182500
2017-01-17 Casual              15                   5.634722
           Member             997                 171.771111
2017-01-18 Casual              19                  13.971667
           Member            1846                 318.495000
2017-01-19 Casual              51                  12.967500
           Member            2059                 360.097778
2017-01-20 Casual              60                  16.084167
           Member            2009                 345.535556
2017-01-21 Casual             179                  81.673333
           Member            1240                 218.036944
...                           ...                        ...
2017-12-17 Casual              21                   5.176667
           Member             814                 120.570278
2017-12-18 Casual              27                   9.743333
           Member            1653                 280.345556
2017-12-19 Casual             110                  37.014722
           Member            3126                 582.893333
2017-12-20 Casual              93                  62.616944
           Member            2916                 482.323611
2017-12-21 Casual              86                  75.995000
           Member            2534                 428.004722
2017-12-22 Casual              14                   4.599722
           Member             711                 132.877778
2017-12-23 Casual              36                  14.068611
           Member             414                  77.274167
2017-12-24 Casual              19                   5.883056
           Member             405                  67.979167
2017-12-25 Casual               7                   0.722500
           Member             108                  22.803611
2017-12-26 Casual              14                   6.622500
           Member             249                  41.340000
2017-12-27 Casual              25                   6.570000
           Member             616                 111.609167
2017-12-28 Casual              16                   9.120556
           Member             624                 103.183056
2017-12-29 Casual              13                   2.872778
           Member             433                  73.866389
2017-12-30 Casual              11                   2.555556
           Member             401                  68.673611
2017-12-31 Casual              14                   5.453333
           Member             369                  55.001667

                      average_trip_duration_minutes
trip_date  user_type
2017-01-01 Casual                         32.394372
           Member                         10.669065
2017-01-02 Casual                         40.469841
           Member                         10.684492
2017-01-03 Casual                         22.549371
           Member                         10.369668
2017-01-04 Casual                         31.281868
           Member                         10.622364
2017-01-05 Casual                         19.020161
           Member                         10.947158
2017-01-06 Casual                         25.991240
           Member                         11.525981
2017-01-13 Casual                         12.257143
           Member                         10.197109
2017-01-14 Casual                         20.011515
           Member                          9.339208
2017-01-15 Casual                         26.475269
           Member                          9.982990
2017-01-16 Casual                         36.675000
           Member                         10.459653
2017-01-17 Casual                         22.538889
           Member                         10.337279
2017-01-18 Casual                         44.121053
           Member                         10.351950
2017-01-19 Casual                         15.255882
           Member                         10.493379
2017-01-20 Casual                         16.084167
           Member                         10.319628
2017-01-21 Casual                         27.376536
           Member                         10.550175
...                                             ...
2017-12-17 Casual                         14.790476
           Member                          8.887244
2017-12-18 Casual                         21.651852
           Member                         10.175882
2017-12-19 Casual                         20.189848
           Member                         11.187972
2017-12-20 Casual                         40.398029
           Member                          9.924354
2017-12-21 Casual                         53.019767
           Member                         10.134287
2017-12-22 Casual                         19.713095
           Member                         11.213315
2017-12-23 Casual                         23.447685
           Member                         11.199155
2017-12-24 Casual                         18.578070
           Member                         10.070988
2017-12-25 Casual                          6.192857
           Member                         12.668673
2017-12-26 Casual                         28.382143
           Member                          9.961446
2017-12-27 Casual                         15.768000
           Member                         10.871023
2017-12-28 Casual                         34.202083
           Member                          9.921448
2017-12-29 Casual                         13.258974
           Member                         10.235527
2017-12-30 Casual                         13.939394
           Member                         10.275353
2017-12-31 Casual                         23.371429
           Member                          8.943360

[658 rows x 3 columns]

In [28]:

trip_summary.to_csv("bike_data_summary.csv", index=True)